@model ConferenceManagementSystem.Models.Entities.Action
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 login-form-1">


        <form action="/Action/Update" method="post">

            <div class="form-group">
                <input type="text" class="form-control" name="ActionName" placeholder="Action Name *" value="@Model.ActionName" required />
            </div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />


            </div>

        </form>
    </div>

</div>

